body{background-color: papayawhip;}
h1{ color:blueviolet;
display: inline-block; 
background-color: aqua;}
h2{ color:blueviolet;
    display: inline-block; 
    background-color: aqua;}
 h3{ color:blueviolet;
        display: inline-block; 
        background-color: aqua;}