img{ width: 200px;
    height: 200px;}
    p{text-align: center;
    color: blue;}
    div{display: inline-block;}
    body{background-color: antiquewhite;}
    main{display:flex;
    flex-wrap: wrap;
flex-direction: row;}
/* could be flex-direction : column */

    